@font-face{
    font-family: 'Apparat';
    src: url("https://use.typekit.net/qpw7nnq.css")
}

:root {
    --main-bg: #333745;
    --font-body-color: #EDF2EF;
    --font-title-color: #FF5971;
}

body{
    
    background-color: var(--main-bg);
    color: var(--font-body-color);
    font-family: Roboto, Helvetica, sans-serif;
}

h1, h2, h3{
    font-weight: bolder;
    color: var(--font-title-color);
}

h2, h3 {
    color: var(--font-body-color);
}

h1{
    font-size: 5rem;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
}

p{
    font-size: 1rem;
}

a{
    color: var(--font-body-color);
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 2rem;
    text-decoration: none;
    transition: font 0.2s ease;

}

a:hover{
    color: var(--font-title-color);
    font-size: 1.35rem;
}

nav {
    background-color: #1E2029;
    margin: 0;
    padding: 0.5rem;
}

#title{
    margin-bottom: 0;
}

#subtitle {
    margin-top: 0;
    font-family: ador-hairline, sans-serif;
    font-size: 3rem;
}

