:root {
    --main-bg: #333745;
    --font-body-color: #EDF2EF;
    --font-title-color: #FF5971;

    --font-main-nav-color: #D4D9D6;
    --font-main-nav-hover-color: #E1E6E3;

    --font-link-color: #6194d6;
    --font-link-visited-color: #63729e;
    --font-link-active-color: #006eff;
}

body{
    
    background-color: var(--main-bg);
    color: var(--font-body-color);
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-weight: bolder;
    color: var(--font-title-color);
}

h2, h3 {
    color: var(--font-body-color);
}

h1{
    font-size: 5rem;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
}

p{
    font-size: 1rem;
}

a{
    color: var(--font-link-color)
}

a:visited{
    color: var(--font-link-visited-color)

}

a:active{
    color: var(--font-link-active-color)

}

.main-nav-item, .main-nav-item:visited, .main-nav-item:active{
    color: var(--font-main-nav-color);
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 2rem;
    text-decoration: none;
    transition: font 0.2s ease-in-out;
}

.main-nav-item:hover{
    color: var(--font-main-nav-hover-color);
    font-size: 1.35rem;
    text-shadow: 0 0 0.125rem #ffffff;
}

.main-nav {
    background-color: #1E2029;
    margin: 0;
    padding: 0.5rem;
}

.bottom-container{
    position: relative;
    margin-top: 5rem;
    margin-bottom: auto;
}

#title{
    margin-bottom: 0;
}

#subtitle {
    margin-top: 0;
    font-family: ador-hairline, sans-serif;
    font-size: 3rem;
}

#home-body{
    position: relative;
    text-align: left;
    margin: auto;
    /* margin-left: 10rem;
    margin-right: 10rem; */
    width: 75%;
    text-indent: 2rem;
}

#home-body-first-sentence{
    text-indent: 0;
    font-weight: bold;
}

