body
{
    margin: 0px;
    background-color: #CCCCCC;
}

h1
{
    font-weight: bold;
    text-decoration: underline;
    color: #ee3333;
    font-size: 160%;
    margin-bottom: 25px;
    margin-top: 0px;
}